body {
  background-image: linear-gradient(-90deg,navy,pink,cyan);
  font-family: 'Encode Sans Expanded', sans-serif;
  font-size: 1.15em;
  text-shadow: 1px 1px gold;

}

.border {
  border-style: inset;
  border-width: 1px;
  margin: 10px;
}

#sampleui {
  max-width: 450px;
  margin-left: 5%;
  height: 100%;
}

#sampleposting {
  max-width: 450px;
  text-align: center;
  margin-left: 5%;
}

#userstories {
  margin-left: 5%;
}

form {
  padding: 5px;
}
